*{
    color: white;
    font-family: 'Catamaran', sans-serif;
}
.eachMovie, .list-group-item{
    background: transparent;
    border: 0;
    font-size: 25px;
    max-width: 1000px;
}

.eachMovie{
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 40%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
    padding: 25px 30px;
}

.card-img-top{
    width: 30%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 40%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);
}

.rating {
    margin: 10px 0 15px;
}

.rating i{
    font-size: 25px;
    color: #999;
}

.rating i.active {
    color: #ecaa3a;
}

.rating i:not(:last-child){
    margin-right: 3px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card-img-top{
        width: 50%;
        margin: auto;
    }
  }